gcp-sa-key.json
credentials.json
gcp.json
dbt/.user.yml
dirlist.txt
credentials/
.env
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
dbt/target/
dbt/dbt_packages/
logs/
plugins/
__pycache__/
*.pyc
*.pyo
.DS_Store
