GCS_BUCKET_NAME=jkia-flight-data-your-project-id
BQ_PROJECT_ID=your-gcp-project-id
BQ_RAW_DATASET=jkia_raw
BQ_ANALYTICS_DATASET=jkia_analytics
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/secrets/gcp-sa-key.json
OPENSKY_CREDENTIALS_PATH=/opt/airflow/secrets/credentials.json
